In [2]:
import sqlite3

In [3]:
print(sqlite3.sqlite_version_info) # (3 , 21 , 0)
# (1) db 연동 객체
try:
    conn = sqlite3.connect('C:/workspace/data/sqlite_db')  # db 생성 -> 연결
    cursor = conn.cursor()

    # (3) table 생성
    sql = 'create table if not exists test_table(name text(10) ,phone text(15) , addr text(50))'
    cursor.execute(sql)  # sql문 실행

    # (4) 레코드 추가
    cursor.execute("insert into test_table values( '홍길동', '010-1111-1111', '서울시')")
    cursor.execute("insert into test_table values( '이순신', '010-2222-2222', '해남시')")
    cursor.execute("insert into test_table values( '강감찬', '010-1111-1111', '평양시')")

    conn.commit()

    # (5) 레코드 조회
    cursor.execute("select * from test_table")
    rows = cursor.fetchall()  # 조회 레코드 가져오기

    for row in rows : # (6) 레코드 출력
        print(row)

    print('이름   \t전화번호    \t주소')
    for row in rows :
        print(row[0], '\t', row[1], '\t', row[2])

except Exception as e :
    print('db 연동 실패 : ', e)
    conn.rollback()

finally:
    cursor.close()
    conn.commit()

(3, 39, 4)
('홍길동', '010-1111-1111', '서울시')
('이순신', '010-2222-2222', '해남시')
('강감찬', '010-1111-1111', '평양시')
이름   	전화번호    	주소
홍길동 	 010-1111-1111 	 서울시
이순신 	 010-2222-2222 	 해남시
강감찬 	 010-1111-1111 	 평양시

SQLite3 CRUD  실습

In [23]:
try:
    conn = sqlite3.connect('data/sqlite_db')  # db 생성 -> 연결
    cursor = conn.cursor()

    # (3) table 생성
    sql = '''create table if not exists goods(
    code integer primary key,
    name text(30) unique not null,
    count integer default 0,
    price real default 0.0
    )'''
    cursor.execute(sql)  # sql문 실행

#     (2) 레코드 추가
#     cursor.execute("insert into goods values(1, '냉장고', 2, 850000)")
#     cursor.execute("insert into goods values(2, '세탁기', 3, 550000)")
#     cursor.execute("insert into goods (code, name) values(3, '전자레인지')")
#     cursor.execute("insert into goods (code, name, price) values(4, 'HDTV', 150000)")
#     conn.commit()

    # (3) 레코드 조회
    sql = "select * from goods"
    cursor.execute(sql)
    rows = cursor.fetchall()  # 조회 레코드 가져오기

    for row in rows : # (6) 레코드 출력
        print(row[0], row[1], row[2], row[3])
    print('검색된 레코드 수 : ', len(rows))

        # (4) 상품명 조회
    name = input("상품명 입력 : ")
    sql = f"select * from goods where name like '%{name}%'"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    if rows :
        for row in rows:
            print(row)
    else:
        print('검색된 레코드 없음')

except Exception as e :
    print('db 연동 error : ', e)
    conn.rollback()

finally:
    cursor.close()
    conn.commit()

1 냉장고 2 850000.0
2 세탁기 3 550000.0
3 전자레인지 0 0.0
4 HDTV 0 150000.0
검색된 레코드 수 :  4
상품명 입력 : 냉장고
(1, '냉장고', 2, 850000.0)

SQLite3 CRUD 예 추가

In [27]:
try:
    conn = sqlite3.connect('data/sqlite_db')  # db 생성 -> 연결
    cursor = conn.cursor()

    # (5) 레코드 추가 : 2차
    code = int(input('code 입력 : '))
    name = input('name 입력 : ')
    count = int(input('count 입력 : '))
    price = int(input('price 입력 : '))

    sql = f"insert into goods values({code}, '{name}', {count}, {price})"
    cursor.execute(sql)
    conn.commit()
    
    # (3) 레코드 조회
    sql = "select * from goods"
    cursor.execute(sql)
    rows = cursor.fetchall()  # 조회 레코드 가져오기

    for row in rows : # (6) 레코드 출력
        print(row[0], row[1], row[2], row[3])
    print('검색된 레코드 수 : ', len(rows))

        # (4) 상품명 조회
    name = input("상품명 입력 : ")
    sql = f"select * from goods where name like '%{name}%'"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    if rows :
        for row in rows:
            print(row)
    else:
        print('검색된 레코드 없음')

except Exception as e :
    print('db 연동 error : ', e)
    conn.rollback()

finally:
    cursor.close()
    conn.commit()

code 입력 : 6
name 입력 : 모니터
count 입력 : 2
price 입력 : 200000
1 냉장고 2 850000.0
2 세탁기 3 550000.0
3 전자레인지 0 0.0
4 HDTV 0 150000.0
5 청소기 40000 40000.0
6 모니터 2 200000.0
검색된 레코드 수 :  6
상품명 입력 :
(1, '냉장고', 2, 850000.0)
(2, '세탁기', 3, 550000.0)
(3, '전자레인지', 0, 0.0)
(4, 'HDTV', 0, 150000.0)
(5, '청소기', 40000, 40000.0)
(6, '모니터', 2, 200000.0)

SQLite3 CRUD 예 수정, 삭제

In [30]:
try:
    conn = sqlite3.connect('data/sqlite_db')  # db 생성 -> 연결
    cursor = conn.cursor()

    # (5) 레코드 수정 : code -> sum dan 수정
    code = int(input('수정하고 싶은 code 입력 : '))
    count = int(input('수정 count 입력 : '))
    price = int(input('수정 price 입력 : '))

    sql = f"update goods set count = {count}, price = {price} where  code = {code}"
    cursor.execute(sql)
    conn.commit()
    
    # (3) 레코드 조회
    sql = "select * from goods"
    cursor.execute(sql)
    rows = cursor.fetchall()  # 조회 레코드 가져오기

    for row in rows : # (6) 레코드 출력
        print(row[0], row[1], row[2], row[3])
    print('검색된 레코드 수 : ', len(rows))

        # (4) 상품명 조회
    name = input("상품명 입력 : ")
    sql = f"select * from goods where name like '%{name}%'"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    if rows :
        for row in rows:
            print(row)
    else:
        print('검색된 레코드 없음')

except Exception as e :
    print('db 연동 error : ', e)
    conn.rollback()

finally:
    cursor.close()
    conn.commit()

수정하고 싶은 code 입력 : 3
수정 count 입력 : 1
수정 price 입력 : 150000
1 냉장고 2 850000.0
2 세탁기 3 550000.0
3 전자레인지 1 150000.0
4 HDTV 0 150000.0
5 청소기 3 50000.0
6 모니터 2 200000.0
검색된 레코드 수 :  6
상품명 입력 :
(1, '냉장고', 2, 850000.0)
(2, '세탁기', 3, 550000.0)
(3, '전자레인지', 1, 150000.0)
(4, 'HDTV', 0, 150000.0)
(5, '청소기', 3, 50000.0)
(6, '모니터', 2, 200000.0)

SQLite3 CRUD 예 삭제

In [31]:
try:
    conn = sqlite3.connect('data/sqlite_db')  # db 생성 -> 연결
    cursor = conn.cursor()

    # (5) 레코드 삭제 : code -> 삭제
    code = int(input('삭제 code 입력 : '))

    sql = f"delete from goods where code = {code}"
    cursor.execute(sql)
    conn.commit()
    
    # (3) 레코드 조회
    sql = "select * from goods"
    cursor.execute(sql)
    rows = cursor.fetchall()  # 조회 레코드 가져오기

    for row in rows : # (6) 레코드 출력
        print(row[0], row[1], row[2], row[3])
    print('검색된 레코드 수 : ', len(rows))

        # (4) 상품명 조회
    name = input("상품명 입력 : ")
    sql = f"select * from goods where name like '%{name}%'"
    cursor.execute(sql)
    rows = cursor.fetchall()
    
    if rows :
        for row in rows:
            print(row)
    else:
        print('검색된 레코드 없음')

except Exception as e :
    print('db 연동 error : ', e)
    conn.rollback()

finally:
    cursor.close()
    conn.commit()

삭제 code 입력 : 5
1 냉장고 2 850000.0
2 세탁기 3 550000.0
3 전자레인지 1 150000.0
4 HDTV 0 150000.0
6 모니터 2 200000.0
검색된 레코드 수 :  5
상품명 입력 :
(1, '냉장고', 2, 850000.0)
(2, '세탁기', 3, 550000.0)
(3, '전자레인지', 1, 150000.0)
(4, 'HDTV', 0, 150000.0)
(6, '모니터', 2, 200000.0)